<h1>
    Buscando: <small> {{ termino }}</small>
</h1>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            No existen resultados con el termino: {{ termino }}
        </div>
    </div>
</div>
<hr />
<div>
    <div class="card-columns">
        <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let termino = index">
            <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre" />
            <div class="card-body">
                <h5 class="card-title">{{ heroe.nombre }}</h5>
                <p class="card-text">{{ heroe.bio }}</p>
                <p class="card-text">
                    <small class="text-muted">{{ heroe.aparicion }}</small>
                </p>
                <button [routerLink]="['/heroes']" type=" button " class="btn btn-outline-dark btn-block">
          Regresar...
        </button>
                <br />
                <button (click)="verHeroe(termino)" type="button" class="btn btn-outline-dark btn-block">
          Ver más...
        </button>
                <!-- <a [routerLink]="['/heroe', i]" href="# " class="btn btn-outline-dark btn-block">Ver más link...</a -->
            </div>
        </div>
    </div>
</div>